/*----INDEX------------*/


/*----01 Text Classes---------*/
/*----02 Nav Bar--------------*/
/*----03 Hero Image-----------*/
/*----04 Page Content---------*/
/*----07 Media Queries--------*/



/*----01 Text Classes---------*/
h1{
	font-size: 40px;
	font-family: "Raleway", Arial, sans-serif;
}
h2 {
    font-size: 30px;
    font-family: "Raleway", Arial, sans-serif;
}
h3 {
    font-size: 24px;
    font-family: "K2D", Arial, sans-serif;
}
h4 {
    font-size: 20px;
    font-family: "K2D", Arial, sans-serif;
}
p, a, label, input, textarea{
	font-family: "K2D", Arial, sans-serif;
    font-size: 18px;
}
.intro-text{
    padding-top: 30px;
    text-align: center;
    line-height: 1.2;
}
.lighter{
    font-size: 16px;
    color: gray;
    padding: 5px 0 5px 0;
}
h2 a{
    font-size: 30px;
    font-family: "Raleway", Arial, sans-serif;
    color: black;
}
.one-third p a{
    font-style: italic;
    font-size: 20px;
    color: black;
}
/*----02 Nav Bar--------------*/

.main-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
     color: #000!important;
    background-color: #fff!important;
}
.nav-bar {
    width: 100%;
    overflow: hidden;
    color: #000!important;
    background-color: #fff!important;
}
.nav-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
}
.nav-right {
    float: right;
}
/*----03 Hero Image-----------*/
.hero-image {
    position: relative
}
.hero-image img{
    max-width: 100%;
    height: auto;
}
/*----04 Page Content---------*/

.row{
    width: 100%;
    padding-bottom: 155px;
    padding-top: 30px;
    margin: 0 auto;
}
.row:after{
    display: table;
    clear: both;
}
.one-third {
    width: 33%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.w3-block {
    display: block;
    width: 100%
}

.content-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.intro-text h2{
    padding-bottom: 30px;
}
.text-padding{
    padding: 10px 0 0 0;
}
/*     Contact form    */


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightblue;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*    FOOTER*/
 .main-footer{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 35px;
    margin-top: 80px;
}
.main-footer .footer-title{
	color: #8d9093;
	font-size: 24px;
	margin: 0;
}
.main-footer .copyright{
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}
.main-footer .footer-links{
	list-style: none;
	font-weight: bold;
	color: #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}
.main-footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}
    
    
    
    
/*    MEDIA QUERIES*/
    
 @media (max-width:600px) {
    .nav-bar-item {
        text-align: center;
    }
}   
   @media (max-width:601px) {
    .one-third {
        width: 100%;
} 
    
    
    
    
    
@media (max-width: 800px) {
	.main-footer{
		padding: 35px;
	}
	.main-footer .footer-title{
		font-size: 18px;
	}
	.main-footer .copyright{
		font-size: 12px;
    }
	.main-footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}
	.main-footer .footer-links a{
		line-height: 1.8;
	}
    }